__pycache__/
_robot_magic_
.coverage
.hypothesis
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.venv/
.virtual_documents/
.yarn-packages/
*.html
*.log
*.py
*.requirements.txt
*.robot
*.sqlite3
*.xml
build/
crash-*
htmlcov/
openapi.yml
selenium-screenshot*
